	<section class="subscribe">
		<div class="container-lg">
			<div class="d-md-flex justify-content-between align-items-center">
				<div class="subscribe__text">
					<h4 class="Color-primary-200 mb-4">Haven't found a suitable vehicle?</h4>
					<p class="Color-primary-200">
						Sign up for our newsletter and be the first to know when we publish new vehicle offers.
					</p>
				</div>
				<form class="subscribe__form d-flex">
					<div class="subscribe__input-wrap">
				  	<input type="email" class="subscribe__input" placeholder="Enter your email">
						<span class="subscribe__input-message">Incorrect email</span>
					</div>
				  <button class="subscribe__btn button2" type="button">Subscribe now</button>
				</form>
			</div>
		</div>
	</section>