* {
	transition: .3s;
}
body {
	color:#000;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1 {
	@extend %NotoSans-700;
	font-size: 50px;
	font-weight: 700;
}
h2 {
	@extend %Poppins-700;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 70px;
}
h3 {
  @extend %NotoSans-700;
	font-size: 30px;
	font-weight: 600;
}
h4 {
  @extend %NotoSans-400;
	font-size: 25px;
	font-weight: 600;
}
h5 {
	@extend %NotoSans-400;
	font-size: 20px;
	font-weight: 500;
}
h6 {
	@extend %NotoSans-400;
  font-size: 17px;
	line-height: 25px;
  font-weight: 400;
	color: #000;
}
a {
	text-decoration: none;
}
.button1,
.span1 {
  @extend %NotoSans-400;
	font-size: 20px;
	font-weight: 500;
}
.button2,
.forms,
.tabs {
  @extend %NotoSans-400;
	font-size: 15px;
	font-weight: 400;
}
.links {
  @extend %NotoSans-400;
  font-size: 15px;
  font-weight: 500;
}
.span2 {
  @extend %NotoSans-400;
  font-size: 14px;
  font-weight: 300;
}

.checkbox {
	width: 16px;
	height: 16px;
	background-color: #f8f8f8;
	border: 1px solid #8D8D8D;
	border-radius: 3px;
}
.form-check-label {
	color: #8d8d8d;
	&.active {
		color: #DF4E3C;
	}
}
.hidden {
	display: none;
}

//------------------------------------       select       -----------------------------------

.offers__sort-wrap {
	min-width: 190px;
	position: relative;
	& select {
		display: none;
	}
}
.select-selected {
	color: #8D8D8D;
	&:hover {
		color: #DF4E3C;
	}
	&:active {
		color: #8D8D8D;
	}
}
.select-items div,.select-selected {
	padding: 8px 12px;
	cursor: pointer;
}
.select-items {
	border-radius: 15px;
	position: absolute;
	background-color: #fff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1;
}
.select-hide {
	display: none;
}
.select-items div:hover {
	color: #DF4E3C;
}