* {
	transition: .3s;
}
body {
	color:#000;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1 {
	@extend %NotoSans-700;
	font-size: 50px;
	font-weight: 700;
}
h2 {
	@extend %Poppins-700;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 70px;
}
h3 {
  @extend %NotoSans-700;
	font-size: 30px;
	font-weight: 600;
}
h4 {
  @extend %NotoSans-400;
	font-size: 25px;
	font-weight: 600;
}
h5 {
	@extend %NotoSans-400;
	font-size: 20px;
	font-weight: 500;
}
h6 {
	@extend %NotoSans-400;
  font-size: 17px;
	line-height: 25px;
  font-weight: 400;
	color: #000;
}
a {
	text-decoration: none;
}
.button1,
.span1 {
  @extend %NotoSans-400;
	font-size: 20px;
	font-weight: 500;
}
.button2,
.forms,
.tabs {
  @extend %NotoSans-400;
	font-size: 15px;
	font-weight: 400;
}
.links {
  @extend %NotoSans-400;
  font-size: 15px;
  font-weight: 500;
}
.span2 {
  @extend %NotoSans-400;
  font-size: 14px;
  font-weight: 300;
}

.checkbox {
	width: 16px;
	height: 16px;
	background-color: #f8f8f8;
	border: 1px solid #8D8D8D;
	border-radius: 3px;
}
.form-check-label {
	color: #8d8d8d;
	&.active {
		color: #DF4E3C;
	}
}
.hidden {
	display: none;
}

.select-styled {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	position: absolute;
	background-color: #fff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1;
	&-sort div {
		padding: 8px 12px;
	}
	&-filter {
		margin: 0 8px;
		& div {
			padding: 6px 12px 6px 16px;
			border-right: 1px solid #C4C4C4;
			border-left: 1px solid #C4C4C4;
			&:last-child {
				border-bottom: 1px solid #C4C4C4;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
			}
		}
		&.titteHidden {
			& div:first-child {
				display: none;
			}
		}
	}
	&-wrap {
		position: relative;
		& select {
			display: none;
		}
	}
	&-optSelected-sort {
		color: #8D8D8D;
		padding: 8px 12px;
		cursor: pointer;
		&:hover {
			color: #DF4E3C;
		}
		&:active {
			color: #8D8D8D;
		}
	}
	&-optSelected-filter {
		color: #000;
		padding: 12px 12px 12px 16px;
		border: 1px solid #BDBDBD;
		border-radius: 15px;
		cursor: pointer;
		position: relative;
		&::after {
			content: '';
			width: 13px;
			height: 8px;
			background-image: url(../images/icons/select-arrow.svg);
			position: absolute;
			right: 16px;
			top: 50%;
		}
		&.active {
			font-weight: 600;
			background-color: #fff;
			border-bottom: 1px solid #fff;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			transition: 0s;
			&::after {
				display: none;
			}
		}
		&.active-opt {
			background-color: #fff;
			border: 1px solid #DF4E3C;
			border-radius: 15px;
			transition: 0s;
		}
	}
	&-hide {
		display: none;
	}
	& div {
		cursor: pointer;
		&:hover {
			color: #DF4E3C;
		}
	}
}

.red {
	color: red;
}