%NotoSans-700 {
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 700;
}
%NotoSans-400 {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
}
%Poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%Poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}
%PRoboto-300 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}
%PRoboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}