@import "bootstrap-custom";
@import "fonts";
@import "vars";
@import "global";

.header {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	&__title {
		margin-bottom: 30px;
	}
	&__content {
		max-width: 50%;
		height: calc(100vh - 70px);
	}
	&__text {
		padding-right: 50px;
		margin-bottom: 55px;
		& p {
			padding-right: 25px;
		}
	}
	&__link {
		width: fit-content;
		color: #f8f8f8;
		background-color: transparent;
		padding: 10px 90px;
		border: 2px solid #F8F8F8;
		border-radius: 15px;
		&:hover {
			color: #000;
			background-color: #F8F8F8;
		}
		&:active {
			color: #f8f8f8;
			background-color: transparent;
		}
	}
}

.offers {
	margin: 50px 0 70px;
		&__select {
			color: #000;
			background-color: transparent;
			border: 1px solid #BDBDBD;
			border-radius: 15px;
			cursor: pointer;
			&.active {
				background-color: #fff;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	&__btn {
		color: #F8F8F8;
		background-color: #DF4E3C;
		border: 2px solid #DF4E3C;
		border-radius: 15px;
		&:hover {
			color: #DF4E3C;
			background-color: transparent;
		}
		&:active {
			color: #F8F8F8;
			background-color: #DF4E3C;
		}
	}
	&__checkbox {
		cursor: pointer;
	}
	&__label {
		cursor: pointer;
	}
}
form {
	@extend %NotoSans-400;
}
.arrowUp {
	left: 42%;
	bottom: -2px;
	path {
		fill: #8D8D8D;
	}
	&.active {
		path {
			fill: #DF4E3C;
		}
	}
}
.arrowDown {
	top: -1px;
	path {
		fill: #8D8D8D;
	}
	&.active {
		path {
			fill: #DF4E3C;
		}
	}
}
.card {
	height: 100%;
	&-body {
		padding: 20px 20px 35px;
	}
	&:hover h4 {
		text-decoration: underline;
	}
	&-text {
		@extend %PRoboto-300;
		font-size: 14px;
		line-height: 19px;
		color: #8D8D8D;
		margin-bottom: 25px;
	}
}
.car {
	box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
	&__new {
		@extend %Poppins-400;
		font-size: 12px;
		line-height: 18px;
		background-color: #000;
		padding: 3px 20px;
		border-bottom-right-radius: 12px;
		border-top-right-radius: 12px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&__sold-mark {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		@extend %Poppins-700;
		font-size: 50px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		backdrop-filter: grayscale(100%);
	}
	&__sold-desc {
		opacity: .6;
	}
	&__head {
		margin-bottom: 10px;
	}
	&__year {
		@extend %Poppins-400;
		line-height: 25px;
		margin: 2px 8px 0 0;
	}
	&__mileage {
		padding-right: 27px;
		&::after {
			content: 'km';
			position: absolute;
			right: 3px;
		}
	}
	&__gear {
		border-left: 1px solid #8D8D8D;
		border-right: 1px solid #8D8D8D;
	}
	&__price {
		@extend %PRoboto-500;
		font-size: 20px;
		line-height: 27px;
		padding-left: 12px;
		&::before {
			content: '$';
			position: absolute;
			left: 0;
		}
	}
}

.subscribe {
	background-color: #000;
	padding: 40px 90px 45px;
	&__text {
		margin-right: 95px;
	}
	&__form {
		max-width: 715px;
		width: 100%;
		height: 54px;
	}
	&__input-wrap {
		width: 100%;
		margin-right: 20px;
		position: relative;
		&::after {
			content: '';
			width: 11px;
			height: 10px;
			background-image: url(../images/icons/valid.svg);
			position: absolute;
			top: 50%;
			right: 25px;
			transform: translateY(-50%);
			opacity: 0;
		}
		&::before {
			content: '';
			width: 18px;
			height: 18px;
			background-image: url(../images/icons/invalid.svg);
			position: absolute;
			top: 50%;
			right: 25px;
			transform: translateY(-50%);
			opacity: 0;
		}
	}
	&__input-wrap.valid-mail {
		&::after {
			opacity: 1;
		}
	}
	&__input-wrap.invalid-mail {
		&::before {
			opacity: 1;
		}
	}
	&__input {
		max-width: 500px;
		width: 100%;
		height: 54px;
		color: #F8F8F8;
		padding: 0 45px 0 15px;
		background-color: transparent;
		border: 1px solid #BDBDBD;
		border-radius: 15px;
		outline: none;
		&::placeholder {
			color: #F8F8F8;
		}
	}
	&__input.valid-mail {
		color: #8D8D8D;
		background-color: #F8F8F8;
		border: 2px solid #507A36;
	}
	&__input.invalid-mail {
		color: #8D8D8D;
		background-color: #F8F8F8;
		border: 2px solid #DF4E3C;
	}
	&__input-message {
		@extend %PRoboto-300;
		font-size: 13px;
		letter-spacing: 1px;
		color: transparent;
		background-color: transparent;
		padding: 0 5px;
		border-radius: 5px;
		position: absolute;
		left: 15px;
		bottom: -24px;
	}
	&__input-message.invalid-mail {
		color: #DF4E3C;
		background-color: #F8F8F8;		
	}
	&__btn {
		min-width: 190px;
		width: 190px;
		height: 54px;
		color: #000;
		background-color: #F8F8F8;
		padding-bottom: 2px;
		border: 2px solid #000;
		border-radius: 15px;
		align-self: flex-end;
		&:hover {
			color: #F8F8F8;
			background-color: #000;
			border: 2px solid #F8F8F8;
		}
		&:active {
			color: #000;
			background-color: #F8F8F8;
			border: 2px solid #000;
		}
	}
}
.footer {
	height: 120px;
	background-color: #000;
	&__logo-img {
		width: 191px;
	}
	&__nav {
		max-width: 295px;
		width: 100%;
	}
}
//-----------------------------------------------------  media  --------------------------------------------------------------
@media (max-width: 1400px) {
	.header {
		background-position: 70%;
		&__content {
			max-width: 65%;
		}
		&__text {
			padding-right: 25px;
		}
	}
	.subscribe {
		padding: 40px 50px 45px;
		&__text {
			margin-right: 40px;
		}
	}
}
@media (max-width: 1000px) {
	.header {
		background-position: 45%;
		&__title {
			line-height: 55px;
			margin-bottom: 16px;
		}
		&__content {
			max-width: 75%;
			margin-top: -10px;
		}
		&__text {
			padding-right: 15px;
			margin-bottom: 20px;
			& p {
				padding-right: 15px;
			}
		}
	}
	.subscribe {
		padding: 30px 40px 35px;
		&__form {
			height: 118px;
			flex-direction: column;
		}
		&__input-wrap {
			margin: 0 0 10px;
		}
	}
	.footer {
		&__nav {
			max-width: 250px;
		}
	}
}
@media (max-width: 768px) {
	.header {
		background-position: right;
		&__title {
			font-size: 40px;
		}
		&__content {
			max-width: 100%;
			margin-top: -10px;
		}
		&__text {
			background: rgba(50, 50, 50, 0.7);
      backdrop-filter: blur(4px);
			padding: 15px 15px 0 0;
			border-radius: 10px;
			margin-bottom: 20px;
			& p {
				padding-right: 15px;
			}
		}
	}
	.subscribe {
		padding: 25px 30px 30px;
		&__text {
			margin-right: 0;
		}
		&__form {
			height: 133px;
		}
		&__input-wrap {
			margin: 15px 0 10px;
		}
		&__input {
			max-width: 100%;
		}
	}
}
@media (max-width: 576px) {
	.footer {
		height: 180px;
		&__nav {
			padding: 15px 0;
		}
	}
}