	<section class="p-md-5">
		<div class="container-md">
			<h2 class="text-center text-uppercase Color-secondary-100">popular questions</h2>
			<div class="accordion accordion-flush" id="questions">
			  <div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
			        1. Scope
			      </button>
			    </h3>
			    <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus repudiandae soluta molestiae placeat, similique neque odit accusamus? Dicta blanditiis distinctio delectus impedit vitae amet quam nihil velit earum ut reiciendis maxime porro modi voluptatibus, id dolorem, quidem tenetur mollitia!
						</div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
			        2. Vehicle characteristics
			      </button>
			    </h3>
			    <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							2. Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident suscipit, molestiae necessitatibus accusamus quo culpa cupiditate corporis aspernatur iusto tempora voluptatum magni quaerat? Sint consectetur et, officia quaerat iste expedita maiores neque nesciunt molestiae harum, repudiandae eligendi quos. Ratione?
						</div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
			        3. Warranty / guarantee
			      </button>
			    </h3>
			    <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							<p>
								3.1 The statutory warranty is completely excluded to the extent permitted by law.
							</p>
							<p>
								3.2 If the vehicle still has a current factory warranty, a sales representative (brand representative) of the manufacturer shall provide the services owed therein. If there is a factory warranty, the beginning of the warranty for new vehicles or vehicles with a current manufacturer's warranty is not the date of the first placing on the market, but the beginning of the warranty in the manufacturer's system or the contractually agreed beginning of the warranty, if any.
							</p>
							<p>
								3.3 If there is a special warranty insurance for the vehicle, this will take the place of the material warranty according to section 3.1 and replace it. In this case, the General Terms and Conditions of the respective warranty service provider apply.
							</p>
						</div>
			    </div>
			  </div>
				<div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
			        4. Trade-in vehicle
			      </button>
			    </h3>
			    <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							4. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptas, minima, sequi aperiam praesentium optio beatae dolor earum itaque ea quos molestiae ab sunt exercitationem laboriosam nam. Quo officiis laborum cumque quidem hic laboriosam explicabo. Mollitia rerum ex accusamus repudiandae?
						</div>
			    </div>
			  </div>
				<div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
			        5. Home Delivery
			      </button>
			    </h3>
			    <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							5. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda autem magni, voluptates harum repellat, quaerat excepturi aut beatae hic voluptatibus asperiores ducimus at aspernatur. Voluptate architecto possimus dignissimos omnis deleniti dolores impedit, perferendis recusandae accusantium fugit quia deserunt odio dolorem.
						</div>
			    </div>
			  </div>
				<div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-six">
			        6. Right of return
			      </button>
			    </h3>
			    <div id="question-six" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							6. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, harum? Aspernatur repellendus minus cum laudantium doloremque assumenda ad nesciunt at possimus qui a doloribus quibusdam officia optio tenetur, aperiam saepe aliquid, nisi magnam. Dignissimos tenetur, neque iste tempora dolores culpa?
						</div>
			    </div>
			  </div>
				<div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-seven">
			        7. Written form
			      </button>
			    </h3>
			    <div id="question-seven" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsa facere debitis libero itaque aliquam omnis nulla officiis voluptatibus enim, iure cupiditate, illo pariatur placeat est quisquam expedita. Suscipit possimus necessitatibus iusto cum eligendi amet fugiat ut blanditiis laboriosam. Tempore.
						</div>
			    </div>
			  </div>
				<div class="accordion-item">
			    <h3 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-eight">
			        8. Applicable law and place of jurisdiction
			      </button>
			    </h3>
			    <div id="question-eight" class="accordion-collapse collapse" data-bs-parent="#questions">
			      <div class="accordion-body">
							8. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt animi nihil distinctio explicabo debitis ullam laborum quo possimus excepturi consectetur magnam, harum eveniet quam veniam aliquam quia illum! Recusandae similique error laboriosam? Temporibus minus perspiciatis aliquid nisi velit, magnam voluptatem.
						</div>
			    </div>
			  </div>
			</div>
		</div>
	</section>