	<header class="header vh-100 p-2 Color-primary-200">
		<nav class="navbar navbar-dark navbar-expand-sm">
			<div class="container-md">
				<a class="navbar-brand" href="#">
					<img src="images/logo.svg" alt="logo">
				</a>
				<button class="navbar-toggler ms-auto me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      		<span class="navbar-toggler-icon"></span>
    		</button>
				<div class="collapse navbar-collapse" id="navmenu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item pe-md-4">
							<a class="nav-link Color-primary-200 links" href="#">Inventory</a>
						</li>
						<li class="nav-item pe-md-4">
							<a class="nav-link Color-primary-200 links" href="#">Financing</a>
						</li>
						<li class="nav-item pe-md-4">
							<a class="nav-link Color-primary-200 links" href="#">Contacts</a>
						</li>
					</ul>
				</div>
				<div class="social">
					<a class="px-3 Color-transp" href="#">
						<img src="images/icons/facebook.svg" alt="facebook">
					</a>
					<a class="ps-3" href="#">
						<img src="images/icons/instagram.svg" alt="instagram">
					</a>
				</div>
			</div>
		</nav>
		<div class="container-md">
			<div class="header__content d-flex flex-column justify-content-center pt-2">
				<h1 class="header__title">The right way to get a car</h1>
				<div class="header__text mt-2 row">
					<p class="col tabs">
						Monza Motorsports is a boutique-style dealership specializing in premium imports. We offer an advanced online vehicle purchasing experience with integrated financing and contactless home delivery.
					</p>
					<p class="col tabs">
						All of our cars come with a 5 day/500 kilometres no-hassle exchange option. Since 2012 Monza Motorsports has been the benchmark for innovation in the automotive industry.
					</p>
				</div>
				<a class="header__link button1" href="#">Browse cars</a>
			</div>
		</div>
	</header>