	<section class="offers p-2 p-md-5">
		<div class="container-md">
			<h2 class="text-center text-uppercase Color-secondary-100">CURRENT OFFERS</h2>
			<div class="offers__form mb-4">
				<div class="d-flex flex-column flex-sm-row justify-content-between mb-4">
{% include 'app/module/_filters/_filters.njk' %}
					<button class="offers__btn button2" type="submit"></button>
				</div>
				<div class="d-flex flex-column align-items-start flex-md-row align-items-md-center justify-content-between fs-6 fz-12 mb-4">
					<div class="form-check">
  				  <input type="checkbox" class="offers__checkbox form-check-input checkbox" id="available">
  				  <label class="offers__label form-check-label align-text-top ms-1" for="available">Instantly available vehicles</label>
  				</div>
					<div class="d-flex align-items-center">
						<span class="offers__sortBy text-nowrap">Sort by</span>
						<span class="d-flex position-relative px-4">
							<svg class="arrowUp active position-absolute" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="8px" viewBox="0 0 7 8" version="1.1">
								<path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 3.332031 0 L 0.445312 2.882812 L 2.609375 2.882812 L 2.609375 7.945312 L 4.054688 7.945312 L 4.054688 2.882812 L 6.222656 2.882812 Z M 3.332031 0 "/>
							</svg>
							<svg class="arrowDown position-absolute" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="8px" viewBox="0 0 7 8" version="1.1">
								<path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 4.390625 5.117188 L 4.390625 0.0546875 L 2.945312 0.0546875 L 2.945312 5.117188 L 0.777344 5.117188 L 3.667969 8 L 6.554688 5.117188 Z M 4.390625 5.117188 "/>
							</svg>
						</span>
						<div class="select-styled-wrap offers__sort-wrap">
							<select class="offers__sort form-select fz-12 Color-secondary-200">
							  <option>Publication date (ascending)</option>
							  <option>Publication date (descending)</option>
							  <option>Price (ascending)</option>
							  <option>Price (descending)</option>
							  <option>Mileage (ascending)</option>
							  <option>Mileage (descending)</option>
							  <option>Performance (ascending)</option>
							  <option>Performance (descending)</option>
							</select>
						</div>
					</div>
				</div>
			</div>			
{% include 'app/module/_cars/_cars.njk' %}
		</div>
	</section>