			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/1.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2019</span>
								<h6 class="card-title">Volkswagen Tiguan</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">19,855</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/2.jpg" class="card-img-top" alt="car">
							<span class="car__new text-white">New</span>
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2014</span>
								<h6 class="card-title">Toyota Highlander XLE</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">69,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">27,875</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/3.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2017</span>
								<h6 class="card-title">Lexus RX 350 LUXURY</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">39,850</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">38,775</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/4.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Toyota Highlander LE A...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">104,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">23,728</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/5.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2017</span>
								<h6 class="card-title">Hyundai Elantra</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">95,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">11,788</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/6.jpg" class="card-img-top" alt="car">							
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Mercedes-Benz GLE-Cl...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">59,800</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">38,878</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/7.jpg" class="card-img-top" alt="car">
							<span class="car__sold-mark text-white">SOLD</span>
						</div>
						<div class="card-body car__sold-desc d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2015</span>
								<h6 class="card-title">Toyota Venza AWD XLE...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">99,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">18,620 </span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/8.jpg" class="card-img-top" alt="car">
							<span class="car__new text-white">New</span>
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Lexus RX 350 F-SPORT</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">86,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/1.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2019</span>
								<h6 class="card-title">Volkswagen Tiguan</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">19,855</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/2.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2014</span>
								<h6 class="card-title">Toyota Highlander XLE</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">69,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">27,875</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/3.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2017</span>
								<h6 class="card-title">Lexus RX 350 LUXURY</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">39,850</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">38,775</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/4.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Toyota Highlander LE A...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">104,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">23,728</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/1.jpg" class="card-img-top" alt="car">
							<span class="car__new text-white">New</span>
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2019</span>
								<h6 class="card-title">Volkswagen Tiguan</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">19,855</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/2.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2014</span>
								<h6 class="card-title">Toyota Highlander XLE</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">69,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">27,875</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/3.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2017</span>
								<h6 class="card-title">Lexus RX 350 LUXURY</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">39,850</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">38,775</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/4.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Toyota Highlander LE A...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">104,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">23,728</span>
						</div>
					</div>
				</div>				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/5.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2017</span>
								<h6 class="card-title">Hyundai Elantra</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">95,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">11,788</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/6.jpg" class="card-img-top" alt="car">							
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Mercedes-Benz GLE-Cl...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">59,800</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">38,878</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/7.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2015</span>
								<h6 class="card-title">Toyota Venza AWD XLE...</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">99,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">18,620 </span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/8.jpg" class="card-img-top" alt="car">
							<span class="car__new text-white">New</span>
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2016</span>
								<h6 class="card-title">Lexus RX 350 F-SPORT</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">86,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/1.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex align-items-center">
								<span class="car__year Color-secondary-200">2019</span>
								<h6 class="card-title">Volkswagen Tiguan</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">19,855</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Diesel</span>
							</p>
							<span class="car__price position-relative mt-auto">34,888</span>
						</div>
					</div>
				</div>
				<div class="car col">
					<div class="card">
						<div class="car__img position-relative">
							<img src="images/cars/2.jpg" class="card-img-top" alt="car">
						</div>
						<div class="card-body d-flex flex-column justify-content-center">
							<div class="car__head d-flex">
								<span class="car__year Color-secondary-200">2014</span>
								<h6 class="card-title">Toyota Highlander XLE</h6>
							</div>
							<p class="card-text">
								<span class="car__mileage position-relative">69,000</span>
								<span class="car__gear px-2">Automatic</span>
								<span class="car__trim ps-1">Gas</span>
							</p>
							<span class="car__price position-relative mt-auto">27,875</span>
						</div>
					</div>
				</div>
			</div>